<div class="container">
	<div class ="lead well">
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="http://pinguinradio.com/wp-content/uploads/vrienden10.jpg" width="100pt">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">User@email.com asked</h4>
	    Was auch immer
	  </div>
	</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

		<div>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
		</div>

		<%= render 'home/new_answer_form' %>

	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="http://pinguinradio.com/wp-content/uploads/vrienden10.jpg" width="100pt">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">User@email.com asked:</h4>
	    Was auch immer
	  </div>
	</div>	
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="http://pinguinradio.com/wp-content/uploads/vrienden10.jpg" width="100pt">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">User@email.com asked</h4>
	    Was auch immer
	  </div>
	</div>	
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="http://pinguinradio.com/wp-content/uploads/vrienden10.jpg" width="100pt">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">User@email.com asked</h4>
	    Was auch immer
	  </div>
	</div>

</div>
</div>
</div>
